html{
    scroll-behavior: smooth;
}

link{
    color: red;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

br{
    line-height: 2px;
}

header{
    background-color: #ffffff;
    text-align: center;
}

header p{
    padding-inline: 10px;
}   

footer{
    background-color: #000000;
    text-align: center;
}

.white{
    background-color: #ffffff;
}

.darkWhite{
    background-color: #F7F7F7;
}

.canvasPhaser{
    background-image: url("../assets/ImgsWeb/banner.jpg");
}

.spaced{
    padding: 25px;
    border-radius: 3px;
}

.checkboxList{
    background-color: palegoldenrod;
    text-align: left;
    width: 250px;
}

.checked{
    text-decoration: line-through;
}

.spaced p{
    text-align: justify;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameLogo{
    width: 100px;
    height: 100px;
}

.RMGLogo{
    width: 100px;
    height: 100px;
}

.logoFinal{
    width: 200px;
    padding: 25px;
}

.socialMediaLogo{
    width: 35px;
}
