html{
    scroll-behavior: smooth;
}

link{
    color: red;
}

body{
    /* background-color: whitesmoke; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered{
    margin: auto;
    width: 50%;
    text-align: center;
}

.spaced{
    padding: 25px;
}

.spaced p{
    text-align: justify;
}

.titulo{
    display:inline-block;
}

.subtitulo{
    display: flex;
    position:relative;
        left: 250px;
}

.gameLogo{
    width: 75px;
    position: relative; 
        top: 25px;
}

.RMGLogo{
    width: 75px;
    position: relative;
        top: -10px;
}

.sections{
    width: 25%;
    position: relative;
        left: 35%;

    background-color: lightsalmon;
    padding: 10px;
    margin: 12px;
    border-width: 10px;
    border: black;
}

.authorsList{
    text-align: left;
    position: relative;
        left: 33%;
}

.logoFinal{
    width: 200px;
    padding: 25px;
}
